.header-green, .footer{
	background-color: #c9e11b; 
}

.header-green{
	height: 20px;
}

.footer{
	height: 50px;
}

.div-menu{
	background-color: #f6f6f6; 
	border-bottom: 1px solid #9f9f9f; 
	height: 90px;
}

.img-logo{
	width: 150px; 
	margin-top: 10px; 
	x-height: middle;
}

.menu-superior a{
	text-decoration: none; 
	color: #9f9f9f;
	text-transform: uppercase; 
}

.menu-superior a:hover{
	color: #c9e11b;
}

.grid{
	background-image: url('../img/background-apus.png');
	height: 511px;
}

.grid-texto{
	color: #595959;
	float: right;
	margin-top: 170px;
	font-family: 'Microsoft Yi Baiti';
	font-size: 27px;
	margin-right: 60px;
}

.menu-footer a{
	color: #595959;
	text-decoration: none;
}

.menu-footer a:hover{
	color: #595959;
}